<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>  
        {% include "../block/common/head/head.twig" with {title:"Отзывы"}  %}
    </head>
    <body>
        {% include "../block/common/navbar/navbar.twig" with {
            navbar_prefix:"navbar__", 
            navbar_mod:"is--scroll",
            active:page.reviews,
        } %}

        <main class="{{prefix.section}}wrap">
            {% include "../block/page/reviews.twig" with {
                view:"page", 
                prefix:prefix.section, 
                mod:"is--page-reviews", 
                heading_group:"", 
                heading_mod:"is--h2  is--page-reviews", 
                heading_level:"h1", 
                heading:"Отзывы",
                
                bg_left:[path.img,"/default/bg-team-left.png"].join(''),
                bg_bottom:[path.img,"/default/bg-team-bottom.png"].join(''),

                fbg_right:[path.img,"/default/bg-reviews-form-right.png"].join(''),
                fbg_bottom:[path.img,"/default/bg-reviews-form-bottom.png"].join(''),

                fheading_group:"", 
                fheading_mod:"is--h3  is--form-reviews", 
                fheading_level:"h2", 
                fheading:"Здесь вы можете оставить <span>свой отзыв</span>",

                fheading_sm_group:"", 
                fheading_sm_mod:"is--h5  is--form-reviews-sm", 
                fheading_sm_level:"p", 
                fheading_sm:"Заполните форму ниже.",

                agreement_mod:"is--form-agreement", 
                agreement_level:"p", 
                agreement:"* Отправляя данную форму, Вы даете согласие на обработку персональных данных",


                card_view: "reviews",
                card_prefix: "card__",
                card_mod: "is--reviews-page",
                
                card_list: [
                    {    
                        "heading":"Маргарита", 
                        "preview":[path.img,"/default/margarita.jpg"].join(''),
                        "note":"<p>Посетила Салон «Овация» по&nbsp;рекомендации своей подруги. Она делала там Шеллак и&nbsp;ей&nbsp;все очень понравилось. Вот и&nbsp;я&nbsp;решила записаться. Мастер по&nbsp;маникюру просто чудо. </p><p>Оказалось, что она прошла обучение маникюру в&nbsp;Туле и&nbsp;уже работает несколько лет в&nbsp;салоне красоты, поэтому опыт у&nbsp;нее предостаточный. Начиная от&nbsp;подпиливания ногтей и&nbsp;нанесения рисунка Шеллаком, все просто отлично.</p><p> Остались самые позитивные эмоции, поэтому обязательно приду сюда еще, тем более, что близится юбилей и&nbsp;нужен самый лучший маникюр.</p>",
                    },
                    {    
                        "heading":"Ирина", 
                        "preview":[path.img,"/default/irina.jpg"].join(''),
                        "note":"Я думала, что шеллак купить может каждая девушка и нанести его сама. Но, попробовав как-то раз, я решила больше не экспериментировать и пойти в салон к профессионалу. Нашла салон «Овация» в интернете, позвонила и записалась на маникюр и покрытие гель-лаком. Мастер предложила мне сделать «французский» маникюр, но у меня не совсем удачная форма ногтей, поэтому я его никогда не делала. В итоге решилась, результат превзошел все мои ожидания до сих пор не могу налюбоваться. Огромное спасибо за то, что смогли навести такую красоту на моих ногтях.",
                    },
                    {    
                        "heading":"Ильмира", 
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Оказалась на педикюре впервые. Выбор пал на салон Овация, даже не знаю почему. Мне обработали пяточки, они стали нежными, потом приступили к ногтям. Их подпилили и нанесли лак. Понравилось как делают эту процедуру, поэтому сама всерьез задумалась пройти обучение педикюру. Салон оставил меня под приятными впечатлениями: здесь работают талантливые и самое главное опытные мастера и вежливые администраторы, которые предложат чай или кофе, а это многого стоит, тем более, когда приходишь в первый раз.",
                    },
                    {    
                        "heading":"Татьяна",
                        "preview":[path.img,"/default/margarita.jpg"].join(''),
                        "note":"Не поверите, но мне нужно было срочно снять гель лак, потому что он нечаянно не до конца сошел с одного пальца. Рядом оказался салон Овация, я попросила о том, чтобы меня, так сказать, приняли. Администратор попросила немного подождать. В итоге мне полностью сняли покрытие с ногтей, а времени делать маникюр у девушки не было, поэтому пришлось записаться на следующий день. Я уже думала купить лак гель самой, но решила дождаться завтра. Маникюр и новенькое покрытие лак гелем было великолепно, мне сделали черный цвет и стразы на безымянных пальцах. Смотрится потрясающе, результатом я довольна.",
                    },
                    {    
                        "heading":"Светлана",
                        "preview":[path.img,"/default/irina.jpg"].join(''),
                        "note":"Я делала в Овации эпиляцию ног. Этот салон мне посоветовали подруги, которые ходят сюда всегда. Во-первых, из-за большого количества разных услуг. Во-вторых, из-за самых нормальных цен во всем городе. Салон хороший, уютненько, чистенький, персонал внимательный. Моя процедура прошла очень даже хорошо, практически безболезненно. Думаю, что приду сюда еще не один раз за тем, чтобы подстричься и сделать наращивание ногтей. Подруги говорили, что мастера в этом салоне красоты используют самые хорошие материалы для наращивания ногтей Тула, а я им доверяю.",
                    },
                    {    
                        "heading":"Анна", 
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Я записалась в салон красоты Овация на прическу. У меня приближалась дата дня рождения, поэтому мне нужно было что-то красивое на голове. Парикмахер угадала мои желания и заплела мне красивые косы в сочетании с локонами. Прическа продержалась целый вечер и нисколько не потрепалась — вот, что значит настоящие профессионалы. И заплатила я за прическу недорого. Обязательно приду сюда еще и порекомендую знакомым.",
                    },
                    {    
                        "heading":"Наталья",
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Недавно я была приглашена на свадьбу близкой подруги и за несколько дней до самого торжества договорилась с парикмахером, который обычно делает мне прически, что он уложит мои волосы к этому важному событию. Но в последний момент он заявил, что вынужден по каким-то причинам на несколько дней уехать в другой город и не сможет сделать мне прическу! Я была просто в шоке: казалось, что все было продумано и предусмотрено — но нет. Поэтому в салон красоты «Овация» я пришла не по записи и чуть ли не с мольбой: мол, спасите для неудачницы одно из важнейших событий в ее жизни. Меня тут же усадили за кресло, выяснили, какую прическу я хотела, и сделали все просто идеально! Причем меньше, чем за час, и за вполне разумные деньги. Очень рекомендую мастериц Овации!",
                    },
                    {    
                        "heading":"Виктория", 
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Мастера салона «Овация» делали мне наращивание ресниц к очень важному для меня торжественному мероприятию. До этого я ни разу не наращивала ресницы и боялась, что они начнут отклеиваться, лезть мне в глаза, я буду моргать, плакать, чихать. В общем, боялась, что они подпортят мне праздник, но прийти с длиннющими ресницами все равно ой, как хотелось. В результате не сбылся ни один из моих страхов: все прошло максимально комфортно, а выглядела я как актриса на ковровой дорожке.",
                    },
                    {    
                        "heading":"Яна", 
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Я очень люблю свои волосы, и, услышав о технологии ламинирования, подумывала ею воспользоваться. Отзывы у этой процедуры только положительные, но я сомневалась, что она действительно настолько действенна и безвредна: думала, может, волосы после этого ламинирования продолжат выглядеть также, как и сейчас, или, чего доброго, станут хуже. Но я не жалею, что решилась все-таки попробовать: в Овации мне все сделали быстро и аккуратно, и теперь моя шевелюра и впрямь выглядит экстрароскошно. При этом никаких проблем с сухостью, перхотью или выпадением не появилось.",
                    },
                    {    
                        "heading":"Ольга", 
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Привели в салон красоты Овация своего сына, чтобы подстричься. Ему 6 лет, но вот подстригаться он до сих пор не любит. Мастер салона порекомендовала, какая стрижка ему подойдет лучше. Затем она пригласила его на стульчик, посадила и так заговорила, что он очень хорошо себя вел. Прическа получилась то, что надо: волосик к волосику, очень все ровненько — прямо загляденье. Побольше бы таких профессиональных мастеров в городе, как Ваши!",
                    },
                    {    
                        "heading":"Марина",
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Обращалась в салон красоты «Овация» за наращиванием ногтей и была приятно поражена демократичностью цен при очень высоком качестве работы. Я слышала, что лучшее обучение маникюру в Туле проводят именно мастера салона «Овация», но, поскольку в город переехала недавно, не знала, как на меня подействуют здешние материалы для наращивания ногтей. Тула, все-таки, не Москва, думала, может здесь какие-то другие материалы, менее качественные, и мои собственные ногти от них расслоятся и пойдут волной. Но ничего подобного не произошло, более того, мой новый маникюр нравится мне даже больше московского. Буду регулярно обращаться сюда и впредь.",
                    },
                    {    
                        "heading":"Кристина", 
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Я пришла в салон красоты «Овация», поскольку была недовольна своими тонкими и постоянно слоящимися ногтями. Сначала я думала купить шеллак и нанести покрытие на ногти дома, самостоятельно, но потом решила, что все же лучше довериться профессионалам. Работой мастериц осталась очень довольна: у покрытия отличный ровный цвет, а держится уже около двух недель. Скоро пойду в этот салон для снятия покрытия и нанесения нового.",
                    },
                    {    
                        "heading":"Дарья", 
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Я пришла в салон «Овация», чтобы сделать педикюр, так как слышала, что многие работающие в городе мастера проходят обучение педикюру именно в учебном центре «Виктори» от салона– так зачем идти к ученикам, если можно обратиться к мастеру. Сделано все было качественно и аккуратно, намного лучше, чем в других салонах, где мне периодически делали ранки на пятках. На следующий сеанс педикюра пойду только сюда.",
                    },
                    {    
                        "heading":"Алена",
                        "preview":[path.img,"/default/ilmira.jpg"].join(''),
                        "note":"Я привела в салон красоты «Овация» семилетнюю дочку, чтобы постричь волосы. Обычно этот процесс превращается у нас в целое действо: сначала поймай ее, потом заставь сесть на кресло парикмахера, потом удержи там, пока ее стригут. Но парикмахеры Овации как-то быстро и легко нашли подход к моей дочурке: заговорили ее чем-то, увлекли, и она послушно сидела и поворачивала голову. Так что рекомендую детскую стрижку в этом салоне.",
                    },
                ]
            } %} 
        </main>

        {% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

        {% include "../block/common/modals/include.twig"%}
        {% include "../block/common/script/script.twig" with {
            aos: 'view'
        }%}
    </body>
</html> 
