<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>  
        {% include "../block/common/head/head.twig" with {title:"Мастера"}  %}
    </head>
    <body>
        {% include "../block/common/navbar/navbar.twig" with {
            navbar_prefix:"navbar__", 
            navbar_mod:"is--scroll",
            active:page.team,
        } %}

        <main class="{{prefix.section}}wrap">
            {% include "../block/page/team.twig" with {
                view:"page", 
                prefix:prefix.section, 
                mod:"is--page-team", 
                heading_group:"", 
                heading_mod:"is--h2  is--default", 
                heading_level:"h1", 
                heading:"Мастера",

                bg_left:[path.img,"/default/bg-team-left.png"].join(''),
                bg_right:[path.img,"/default/bg-team-right.png"].join(''),
                bg_bottom:[path.img,"/default/bg-team-bottom.png"].join(''),

                card_view: "team",
                card_prefix: "card__",
                card_mod: "is--team",
                card_list: [
                    {   
                        "name":"Юдкина Светлана",  
                        "position":"руководитель,<br> идейный вдохновитель салона «Овация»", 
                        "order": "true",
                        "preview":[path.img,"/default/team-item1.png"].join(''),
                    },
                    {   
                        "name":"Фамилия Имя",  
                        "position":"Должность", 
                        "order": "true",
                        "preview":[path.img,"/default/team-item2.png"].join(''),
                    },
                    {   
                        "name":"Фамилия Имя",  
                        "position":"Должность", 
                        "order": "true",
                        "preview":[path.img,"/default/team-item3.png"].join(''),
                    },
                    {   
                        "name":"Фамилия Имя",  
                        "position":"Должность", 
                        "preview":[path.img,"/default/team-item4.png"].join(''),
                    },
                    {   
                        "name":"Фамилия Имя",  
                        "position":"Должность", 
                        "preview":[path.img,"/default/team-item5.png"].join(''),
                    }
                ]
            } %} 
        </main>

        {% include "../block/common/footer/footer.twig" with {footer_prefix:"footer__"} %}

        {# {% include "../block/common/modals/include.twig"%} #}
        {% include "../block/common/script/script.twig" with {
            aos: 'view'
        }%}
    </body>
</html> 
