.modal-open {
	overflow: hidden; 
}
.modal__ {
	&block{
		display: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1000; 
		-webkit-overflow-scrolling: touch;
		outline: 0;		
		.modal-open &{
			overflow-x: hidden;
			overflow-y: auto;
			.media-breakpoint-up(@md; {
				overflow-y: hidden;
			});
		}		
		//display: block;
		//opacity: 1;
		//background: @black;
	}
	&dialog {
		transition: all 0.5s;
		position: relative;
		width: auto;	
		margin: 0px auto;
		max-width: @modal_width;
		top: 50%;
		transform: translateY(-50%);
		left: -100%;
		.modal__block.in &{
			left: 0;
		}
		.media-breakpoint-up(@md; {		
			left: inherit;			
			.modal__block.in &{
				left: inherit;
			}
		});
		//left: inherit;
	}
	&body {
		position: relative;
		background-color: @modal_bg;
		padding: 3rem 20px;
		.media-breakpoint-up(@md; {
			padding: 3rem;
		});
	}
	&content{}
	&btn-close{
		.btn-clearfix();
	    position: absolute;
	    z-index: 5; 
		top: 5px;
		right: 5px;
		background-color: @modal_btn_bg;
	   	color: @modal_btn_color;
		width: @modal_btn_width;
		height: @modal_btn_width;
		padding: 7px;
		border: @modal_btn_border solid @modal_btn_border_color ;
		svg{display: block;}
	   	transition: @trs-site;  
	   	.media-breakpoint-up(@md; {
			top: 10px;
			right: 10px;
		});	 
		&:hover{
			background-color: @modal_btn_bg_hover;
			color: @modal_btn_color_hover;
		}
	}
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: -1px;
	left: 0;
	z-index: 940;
	background-color: @modal_backdrop;
	&.fade { 
		opacity: 0;
	}
	&.in {
		opacity: @modal_backdrop_fade;
	}
}