{#  
{% include "tpl.twig" with {
	prefix:			"modal__", 
	mod:			"", 
	ID: 			"modal-call",
	heading:		"Связаться с нами", 
	heading_level:	"h4", 
	heading_mod:	"is--h4  fw--700  is--page-base-xs",
	note:			"Оставьте заявку, и наш консультант перезвонит!", 
	note_level:		"p", 
	note_mod:		"is--page-base-lg",
	agreement:       ['Заполняя форму заявки, Вы даете свое согласие на <a href="',page.agreement,'">обработку и использование предоставленной Вами информации</a>'].join(''), 
    agreement_level:    "p", 
    agreement_mod:      "is--form-agreement"
} %}
{% include "tpl.twig" with {
	prefix:			"modal__", 
	mod:			"", 
	ID: 			"modal-career",
	heading:		"Стань частью нашей команды", 
	heading_level:	"h4", 
	heading_mod:	"is--h4  fw--700  is--page-base-xs",
	note:			"Прикрепите свое резюме, отправьте заявку со своими контактными данными и мы свяжемся с Вами в ближайшее время.", 
	note_level:		"p", 
	note_mod:		"is--page-base-lg",
	agreement:       ['Заполняя форму заявки, Вы даете свое согласие на <a href="',page.agreement,'">обработку и использование предоставленной Вами информации</a>'].join(''), 
    agreement_level:    "p", 
    agreement_mod:      "is--form-agreement"
} %}
#}