.continfo__{
	&group{
		&.is--page{
			&-index-contacts{
				margin-bottom: 1.5rem;
				.media-breakpoint-up(@lg; {
					margin-bottom: 5rem;
				});
			}
			&-contacts{
				margin-bottom: 1.5rem;
				.media-breakpoint-up(@lg; {
					margin-bottom: 3.3rem;
				});
			}
			&-contacts-card{
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 30px;
				margin-bottom: 1.5rem;
				.media-breakpoint-up(@lg; {
					margin-bottom: 3.5rem;
				});
			}
		}
	}
	&card{
		&.is--page{
			&-index-contacts{
				display: flex;
				align-items: center;
				& + &{
					padding-top: 1.8rem;
				}				
			}
			&-contacts{
				display: flex;
				align-items: center;
				& + &{
					padding-top: 0.8rem;
				}				
			}
		}
	}
	&icon{
		min-width: 2.22em;
		width: 2.22em;
		height: 2.22em;
		margin-right: 0.8rem;
		&.is--page{
			&-contacts{
				min-width: 1.66em;
				width: 1.66em;
				height: 1.66em;
				margin-right: 0.8rem;
			}
		}

	}
	&label{
		position: relative;
		text-transform: uppercase;
		font-size: 0.778em;
		letter-spacing: 0.05em;
		line-height: 1em;
		color: @info;
		margin-bottom: 1.4rem;
		&::before{
			content: '';
			display: block;
			width: 32px;
			height: 1px;
			background-color: @info;
			margin-bottom: 0.9rem;
		}
	}
	&item{
		color: @success;
		a{
			color: @success;
		}
		&.is--card{
			.media-breakpoint-up(@md; {				
				font-size: 0.889em;
				line-height: 1em;
				& + &{
					margin-top: 0.6rem;
				}
			});
		}
		&.is--page{
			&-contacts{
				.media-breakpoint-up(@md; {
					margin-bottom: 7px;
					&:last-child{
						margin-bottom: 0;
					}
				});
			}
		}
	}
}